body {
  background: radial-gradient(
    ellipse at center,
    #00e1e7 0%,
    #00f5f5 100%
  );
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Impede rolagem horizontal */
  color: #e0e0e0; /* Cor neutra para o texto */
  margin: 0;
  
}

.titulo{
  padding-top: 57px;
  padding-bottom: 30px;
}

h2 {
  color: #ffcc00; /* Destaque em amarelo */
  
}

section {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px; /* Borda arredondada */
  border: 2px solid #0E7FF7; /* Azul usado no h2 */
  background-color: #6A5ACD; /* Cor de fundo das caixas */
  opacity: 0; /* Começa invisível */
  transform: translateX(100%); /* Inicia fora da tela */
  box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.5); /* Sombra para destaque */
  transition: transform 1s ease-out, opacity 1s ease-out; 
}

footer {
  background-color: #97DFD1;
  color: #ffcc00;
  padding: 20px;
  
}

footer a {
  color: #ffcc00;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* RODA PÉ */
}

footer a:hover {
  text-decoration: underline;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: #2492EB!important;
}

.texto-com-borda a{
  color: #ffff;
 
}

.texto-com-borda a:hover,
.texto-com-borda a:active,
.texto-com-borda a:focus {
  color: #ffcc00; /* ou #FFFF00 */
}
.degrade-vertical {
  background: linear-gradient(
    to bottom,
    #09B7CE,
    #2295D5,
    #3C74D7,
    #535BDD,
    #6249E1
    /* #5D4CDF */
  );
}